Django==3.0.7
extract-msg==0.27.9
gensim==3.8.3
Keras==2.4.3
Keras-Preprocessing==1.1.2
matplotlib==3.3.0
nltk==3.5
numpy==1.19.3
outlook-msg==1.0.0
pandas==1.0.4
regex==2020.11.13
scikit-learn==0.23.2
scipy==1.5.3
sklearn==0.0
spacy==2.3.5
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
tqdm==4.54.1
